# Retreiving and Preparing Stock's Income Statement Information
This section of the code will concentrate on extracting stock's income statement information from IEX Cloud API. At the end, this section of the code provide the complete and formatted income statement dataset.

## Importing neccessary modules

In [2]:
import pandas as pd
import numpy as np
import requests
from datetime import date, datetime
from dateutil.relativedelta import relativedelta
import xlsxwriter

## Setting up base URL

Fetching the fundamentals and finacial data about the stock from ther IEX Cloud endpoints.

In [3]:
from api_secret import IEX_CLOUD_API_TOKEN

symbol = 'FTNT'#input("Enther the ticker here: ")
income_endpoint = f'https://sandbox.iexapis.com/stable/stock/{symbol}/income?period=quarter&last=12&token={IEX_CLOUD_API_TOKEN}'
financials_endpoint = f'https://sandbox.iexapis.com/stable/stock/{symbol}/financials?period=quarter&last=12&token={IEX_CLOUD_API_TOKEN}'
fundamentals_endpoint = f'https://sandbox.iexapis.com/stable/stock/{symbol}/fundamentals?period=quarter&last=12&token={IEX_CLOUD_API_TOKEN}'

income_endpoint_data = requests.get(income_endpoint).json()
financials_endpoint_data = requests.get(financials_endpoint).json()
fundamentals_endpoint_data = requests.get(fundamentals_endpoint).json()

## Extracting the data
This part will concentrate on extracting the data that will form the final income statement for the stock.

### Forming the Dataset columns
The columns will be comprised of the Pandas DatetimeIndex. It will be created based on the quarters (reportDate) of the reported stock data.

First step is to find the quarters of the reported stock data.

In [4]:
reportDate_list = []
quarter_list = []

for stock_data in income_endpoint_data['income']:
    converted_date = datetime.strptime(stock_data['reportDate'], '%Y-%m-%d').date()
    reportDate_list.append(converted_date)

def quarter_finder(dates_list):
    global quarter_list

    for d in reportDate_list:
        q1 = date(d.year, 3, 31)
        q2 = date(d.year, 6, 30)
        q3 = date(d.year, 9, 30)
        q4 = date(d.year, 12, 31)

        if d < q1:
            q = date(d.year - relativedelta(year=1).year, 12, 31)
        if d > q1 and d < q2:
            q = date(d.year, 3, 30)
        if d > q2 and d < q3:
            q = date(d.year, 6, 30)
        if d > q3 and d < q4:
            q = date(d.year, 9, 30)
        
        quarter_list.append(q)

quarter_finder(reportDate_list)

The above created the Datetime-like array which will serve as an input to Pandas' DatetimeIndex objet (columns of the future dataset)

In [5]:
columns = pd.DatetimeIndex(data=quarter_list)

The next step is the creation of the actual DataFrame.

In [6]:
index = [
    'Total Revenue',
    'Total Revenue (Growth)',
    'Cost of Revenue',
    'Cost of Revenue (Growth)',
    'Gross Profit',
    'Gross Profit (Growth)',
    'Operating Expense',
    'SG&A',
    'SG&A (Growth)',
    'Research and Development',
    'Operating Income',
    'Pretax Income',
    'Pretax Income (Growth)',
    'Tax Provision',
    'Net Income',
    'Net Income (Growth)',
    'Basic EPS',
    'Basic EPS (Growth)',
    'Diluted EPS',
    'Total Expenses',
    'Total Expenses (Growth)',
    'Interest Income',
    'Inerest Income (Growth)',
    'Interest Expense',
    'Interest Expense (Growth)',
    'EBIT',
    'EBITDA',
    'EBITDA (Growth)'
]

income_statement = pd.DataFrame(columns=columns, index=index, data=None)

Filling the dataframe with data returned by API endpoints.

The first API endpoint the results of which the iteraion will be made is the financials API endpoint.

In [7]:
financials_dict = {
    'Total Revenue': [],
    'Operating Income': [],
    'Pretax Income': [],
    'Tax Provision': [],
    'Net Income': [],
    'Total Expenses': [],
    'Interest Income': [],
    'EBIT': [],
    'EBITDA': []
}

for quarter_data in financials_endpoint_data['financials']:
    financials_dict['Total Revenue'].append(quarter_data['totalRevenue'])
    financials_dict['Operating Income'].append(quarter_data['operatingIncome'])
    financials_dict['Pretax Income'].append(quarter_data['pretaxIncome'])
    financials_dict['Tax Provision'].append(quarter_data['incomeTax'])
    financials_dict['Net Income'].append(quarter_data['netIncome'])
    financials_dict['Total Expenses'].append(quarter_data['operatingExpense'])
    financials_dict['Interest Income'].append(quarter_data['interestIncome'])
    financials_dict['EBIT'].append(quarter_data['ebit'])
    financials_dict['EBITDA'].append(quarter_data['EBITDA'])

for stock_attribute in financials_dict:
    for row in income_statement.index:
        if row == stock_attribute:
            income_statement.loc[row] = financials_dict[stock_attribute]

The second is the income API endpoint.

In [8]:
income_dict = {
    'Cost of Revenue': [],
    'Gross Profit': [],
    'Operating Expense': [],
    'SG&A': [],
    'Research and Development': []
}

for quarter_data in income_endpoint_data['income']:
    income_dict['Cost of Revenue'].append(quarter_data['costOfRevenue'])
    income_dict['Gross Profit'].append(quarter_data['grossProfit'])
    income_dict['Operating Expense'].append(quarter_data['operatingExpense'])
    income_dict['SG&A'].append(quarter_data['sellingGeneralAndAdmin'])
    income_dict['Research and Development'].append(quarter_data['researchAndDevelopment'])

for stock_attribute in income_dict:
    for row in income_statement.index:
        if row == stock_attribute:
            income_statement.loc[row] = income_dict[stock_attribute]

The final endpoint to use the data from in the dataset is the fundamentals endpoint.

In [9]:
fundamentals_dict = {
    'Basic EPS': [],
    'Diluted EPS': [],
    'Interest Expense': []
}

for quarter_data in fundamentals_endpoint_data['fundamentals']:
    fundamentals_dict['Basic EPS'].append(quarter_data['incomeNetPerWabsoSplitAdjusted'])
    fundamentals_dict['Diluted EPS'].append(quarter_data['incomeNetPerWadsoSplitAdjusted'])
    fundamentals_dict['Interest Expense'].append(quarter_data['expensesInterest'])

for stock_attribute in fundamentals_dict:
    for row in income_statement.index:
        if row == stock_attribute:
            income_statement.loc[row] = fundamentals_dict[stock_attribute]

## Calculating the Growth

In [10]:
total_revenue_growth = []

for df_index, row_name in enumerate(income_statement.index):
    if 'Growth' in row_name:
        for row_index, value in enumerate(income_statement.iloc[df_index - 1]):
            try:
                growth_rate = (value / income_statement.iloc[df_index - 1, row_index + 1]) * 100
                income_statement.iloc[df_index, row_index] = growth_rate - 100
            except IndexError:
                break

income_statement

,2022-09-30,2022-06-30,2022-03-30,2021-12-31,2021-09-30,2021-06-30,2021-03-30,2020-12-31,2020-09-30,2020-06-30,2020-03-30,2019-12-31
Total Revenue,1158817041,1045161098,970039003,988346905,907372386,824653701,719387760,771172449,654622477,630286908,603380023,614904298
Total Revenue (Growth),10.87449,7.744234,-1.852376,8.924067,10.030718,14.632712,-6.71506,17.804151,3.86103,4.45936,-1.874157,NaN
Cost of Revenue,295953889,261377711,265388337,232568100,218458648,190349772,160252702,170523440,143811652,136928207,130318724,145727848
Cost of Revenue (Growth),13.228434,-1.511229,14.112097,6.458637,14.766961,18.781006,-6.023065,18.574147,5.027047,5.071783,-10.573905,NaN
Gross Profit,909449512,817689588,716422476,752687724,687273405,625998105,561014738,606198151,530312782,480959408,461160885,480919576
Gross Profit (Growth),11.221853,14.135111,-4.8181,9.517947,9.788416,11.583184,-7.453572,14.309549,10.261443,4.293192,-4.108523,NaN
Operating Expense,905236383,837038413,843906077,762386238,722871332,687195823,609616226,595783901,549335674,508986289,504894800,496205790
SG&A,485896010,467786751,439402018,412619758,397936634,376260963,337408984,339184577,308378062,283470546,296001499,285314795
SG&A (Growth),3.871264,6.459855,6.490785,3.689815,5.760808,11.514803,-0.523489,9.989853,8.786633,-4.233409,3.745584,NaN
Research and Development,138305655,127578096,128462002,116551624,110064956,107303511,97712146,91566335,91046324,82454035,81725426,74349666
Operating Income,266496985,196490303,156040365,220261171,166979431,149008031,122640282,174999786,126569008,119478655,80432710,121738543
Pretax Income,263342271,177602132,130366093,207536632,159476313,146733019,122237212,177067488,131915271,125230345,122918402,127804855
Pretax Income (Growth),48.276526,36.233378,-37.184057,30.136337,8.684681,20.039566,-30.96575,34.228196,5.338104,1.880876,-3.82337,NaN
Tax Provision,28302175,2503415,-8413967,3830956,-9303920,7739868,12713750,26816050,5070453,9659218,13747500,12896603
Net Income,236087992,179558471,142354020,203799970,166522558,143134276,112063741,149362173,124766113,115564567,104609260,118657702
Net Income (Growth),31.482514,26.13516,-30.150127,22.385803,16.340099,27.72577,-24.971806,19.713734,7.962255,10.472598,-11.839469,NaN
Basic EPS,0.300675,0.222578,0.180214,0.248501,0.203536,0.175142,0.133319,0.187315,0.152495,0.139643,0.12774,0.13699
Basic EPS (Growth),35.087503,23.507571,-27.479523,22.091797,16.211827,31.370551,-28.826032,22.833655,9.202937,9.318659,-6.752608,NaN
Diluted EPS,0.300111,0.221994,0.175659,0.247404,0.195375,0.169986,0.1321,0.180169,0.154199,0.142052,0.122769,0.132871
Total Expenses,920149850,872696470,837925867,775816871,708299610,662138104,606547472,585746157,531401557,501071200,503511568,502809809
Total Expenses (Growth),5.437558,4.149604,8.005626,9.532302,6.971583,9.165092,3.551251,10.226654,6.053103,-0.48467,0.139567,NaN
Interest Income,-100962,2191112,3270004,3579689,3411357,3426812,209856,-2021669,-2504229,-4109653,-9588686,-10364374
Inerest Income (Growth),-104.607797,-32.993599,-8.651171,4.934459,-0.451002,1532.934965,-110.380334,-19.269803,-39.064709,-57.140603,-7.484176,NaN
Interest Expense,-103669,2185516,3310502,3589251,3462877,3454782,201523,-2010772,-2614864,-4080093,-9467206,-10199395
Interest Expense (Growth),-104.743456,-33.982339,-7.766216,3.649393,0.234313,1614.336329,-110.022171,-23.102234,-35.911657,-56.902881,-7.178749,NaN
EBIT,258896476,187888777,147813154,223140424,170410746,147344341,121855541,174432424,125893093,116990269,80306505,123119671
EBITDA,288956395,213707870,173479581,249411901,190223969,169394167,138927391,192979939,146422734,135902265,99758196,188609873
EBITDA (Growth),35.210928,23.189063,-30.444546,31.114865,12.296647,21.929999,-28.009413,31.796432,7.741202,36.231679,-47.108709,NaN

## Putting it all together into the Excel

This part of the code will concentrate on formatting the above data and organizing it in the Excel document via xlsxwriter.

Creating a **writer** object and writing the dataset into the 'Income Statement' sheet.

In [22]:
writer = pd.ExcelWriter('fundamental_analysis.xlsx', engine='xlsxwriter')
income_statement.to_excel(writer, sheet_name='Income Statement', startrow=1, header=False)

### Formatting

The next part of the code will create formats for the cells of the Excel file. Here's the list of the formats that will be used:

- String format for rows' names
- Date format for columns
- Integer format for values
- Percentage format for growth

In [23]:
standard_font_color = '#000000'
background = '#FFFFFF'
columns_background = '#92CDDC'
indices_background = '#FABF8F'

indices_format = writer.book.add_format(
    {
        'font_color': standard_font_color,
        'bg_color': indices_background,
        'border': 1,
        'bold': True
    }
)

header_format = writer.book.add_format(
    {
        'bold': True,
        'font_color': standard_font_color,
        'bg_color': columns_background,
        'border': 1,
        'num_format': 'yyyy-mm-dd'
    }
)

integer_format = writer.book.add_format(
    {
        'num_format': '0',
        'font_color': standard_font_color,
        'bg_color': background,
        'border': 1,
    }
)

percentage_format = writer.book.add_format(
    {
        'num_format': '0%',
        'font_color': standard_font_color,
        'bg_color': background,
        'border': 1,
    }
)

Modifying the headers as well as the columns width.

In [24]:
for header_index, header in enumerate(income_statement.columns):
    writer.sheets['Income Statement'].write(0, header_index + 1, header, header_format)
    writer.sheets['Income Statement'].set_column(header_index + 1, header_index + 1, 18)

Changing the rows formats.

In [25]:
# Column A's width adjustment
writer.sheets['Income Statement'].set_column(0, 0, 30)

for col_num, col_name in enumerate(income_statement.columns):
    for row_num, row_name in enumerate(income_statement.index):
        writer.sheets['Income Statement'].write(row_num + 1, 0, row_name, indices_format)
        if 'Growth' in row_name:
            writer.sheets['Income Statement'].write(row_num + 1, col_num + 1, col_name, percentage_format)
        else:
            writer.sheets['Income Statement'].write(row_num + 1, col_num + 1, col_name, integer_format)

writer.save()

C:\Users\vadim\AppData\Local\Temp\ipykernel_636\1572393908.py:12: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()

The next section will address the formatting for the stock's data as well as the Growth rows.